<div *ngIf="film">
  <h2>{{film.title}}</h2>
  <h3><span class="badge badge-info">{{film.releaseYear}}</span> / <span class="badge badge-secondary">{{film.rating}}</span></h3>
  <div class="row">
    <div class="col-md-8">
      <h3>Main Details</h3>
      <p>{{film.description}}</p>
      <dl class="row">
          <dt class="col-sm-3">Special features</dt>
          <dd class="col-sm-9">{{film.specialFeatures}}</dd>
          <dt class="col-sm-3">Rental Duration</dt>
          <dd class="col-sm-9">{{film.rentalDuration}}</dd>
          <dt class="col-sm-3">Rental Rate</dt>
          <dd class="col-sm-9">{{film.rentalRate}}</dd>
          <dt class="col-sm-3">Language</dt>
          <dd class="col-sm-9">{{film.language}}</dd>
          <dt class="col-sm-3" *ngIf="film.originalLanguage">Original Language</dt>
          <dd class="col-sm-9" *ngIf="film.originalLanguage">{{film.language}}</dd>
          <dt class="col-sm-3">Replacement Cost</dt>
          <dd class="col-sm-9">{{film.replacementCost}}</dd>
          
      </dl>
      
    </div>
    <div class="col-md-4">
      <h3>Categories</h3>
      <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let category of film.categories">{{category.name}}</li>
      </ul>
      <h3>Actors</h3>
      <ul class="list-unstyled">
        <li *ngFor="let actor of film.actors">{{actor.firstName}} {{actor.lastName}}</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
